<html>
    <link rel="icon" href="data:,">
    <body bgcolor='0679C6'>

        <center>

        <h1> Hybrid Recommendation System </h1> <br>

        {{ recom }}
        
        <form method="POST", action="{{url_for('predict')}}">

           <b>
            Due to the calculation of the machine learning model you have to wait 1 min for the result. <br> <br> 
            1 = have, 0 = not have <br><br>           
            Saving Account :  <input type="number", name='a', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Guarantees :  <input type="number", name='b', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Current Accounts :  <input type="number", name='c', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Derivada Account :  <input type="number", name='d', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Payroll Account :  <input type="number", name='e', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Junior Account :  <input type="number", name='f', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Más particular Account :  <input type="number", name='g', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            particular Account :  <input type="number", name='h', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            particular Plus Account :  <input type="number", name='i', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Short-term deposits :  <input type="number", name='j', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Medium-term deposits :  <input type="number", name='k', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Long-term deposits :  <input type="number", name='l', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            e-account :  <input type="number", name='m', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Funds :  <input type="number", name='n', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Mortgage :  <input type="number", name='o', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Pensions :  <input type="number", name='p', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Loans :  <input type="number", name='r', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Taxes :  <input type="number", name='s', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Credit Card :  <input type="number", name='t', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Securities :  <input type="number", name='u', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Home Account :  <input type="number", name='w', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Payroll :  <input type="number", name='x', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Pensions :  <input type="number", name='y', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            Direct Debit :  <input type="number", name='z', placeholder="0 or 1", required="required", value="0", min="0", max="1"> <br><br>
            
            <br></b>
            <input type="submit" , value='Recommend!' >
        </form>
            
        
        </center>

    </body>
</html>